@import '../../../styles/base/constants';

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $color-additional-light;
  border-radius: 4px;
  overflow: hidden;
  @include font(normal, 400, 1.4rem, 150%);
  color: $color-basic;
  background: $color-meta;
  padding: 9px 12px;
  transition: all .3s linear;
  margin-top: 5px;
  max-width: 400px;
  margin-bottom: 15px;

  &:focus,
  &:focus-within,
  &:hover {
    border: 1px solid rgba(23, 105, 106, 0.4);
    box-shadow: 0 80px 80px -20px rgba(23, 105, 106, 0.08), 0px 30px 24px -10px rgba(23, 105, 106, 0.05), 0px 12px 10px -6px rgba(23, 105, 106, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  }
}

.button {
  cursor: pointer;
  background: transparent;
}

.icon {
  fill: $color-additional-light;
  transition: all .3s linear;

  &:hover {
    fill: $color-basic;
  }
}

.input-text {
  width: 100%;
  height: 23px;
}