@import '../../styles/base/constants';

.header {
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.image {
  width: 433px;
}