@import '../../styles/base/constants';

.link {
  font-size: 25px;
}

.wrapper {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav {
  display: flex;
  gap: 30px;
}

.invisible {
  display: none;
}