@import '../../../../styles/base/constants';

.button-favorite {
  fill: $color-additional;

  transition: all .2s linear;

  &:hover {
    fill: $color-favorite;
  }

  &:active {
    fill: $color-favorite-dark;
  }
}

.favorite-active {
  fill: $color-favorite;
}
